@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root{
  height: 100%;
  display: grid;
  grid-template-rows: 68px 1fr 209px;
  gap: 50px;
  padding-top: 45px;
}

.container{
  @include m.container;
}